<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Weather API</title>
    </head>
    <body>
        <form method="post">
            <label>Название города: </label>
            <input type="text" name="city">
            <button type="submit" value="temp" name="btn">Получить погодные данные от OpenWeatherMap</button>
            <button type="submit" value="sixteen" name="btn">Получить погодные данные от Яндекс</button>
        </form>
    </body>
</html>